<%- include('../../layouts/admin/dashboardheader') %>


 <div class="container-fluid">   
    <h1 class="h3 mb-4 text-gray-800">Category Management</h1>
    <% if(success.length) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratz! </strong> <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
    <% } %>       
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Category List</h4>
            <a href="/admin/category/showcatadd" class="btn btn-primary">Add a Category</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Category</th>                          
                            <th>Status</th>
                            <th>Action</th>                          
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Category</th>                           
                            <th>Status</th>
                            <th>Action</th>                
                        </tr>
                    </tfoot>
                    <tbody>
                    <% allcats.map(data => { %>    
                        <tr>
                            <td><%= data.name %></td>                          
                            <td>
                                <% if(data.isStatus=='Active') { %>   
                                    <a href="/admin/category/updateStatus/<%=data._id%>" class="btn btn-success">Active</a> 
                                <% } else { %>
                                    <a href="/admin/category/updateStatus/<%=data._id%>" class="btn btn-warning">Inactive</a>
                                <% } %>    
                            </td>

                            <td>
                                <li class="nav-item dropdown no-arrow" style="list-style-type: none; ">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ***
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow"
                                        aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="/admin/category/catedit/<%=data._id%>">Edit</a>
                                        <a class="dropdown-item" href="/admin/category/catview/<%=data._id%>">View</a>
                                        <a class="dropdown-item" href="/admin/category/catdelete/<%=data._id%>">Delete</a>                                                                             
                                    </div>    
                                </li>   
                            </td>
                        </tr>

                    <% }) %>                 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('../../layouts/admin/dashboardfooter') %>