<%- include('../../layouts/front/header') %>

<main id="main">
    <section id="contact" class="contact mb-5">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                <h1 class="page-title">My Blogs</h1>
                </div>
            </div>

            <div class="form mt-5">
                <table id="dataTable" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Image</th>
                            <th>Heading</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% postDetails.map( data => { %>

                        <tr>
                            <td><%= data.category_details.name %></td>
                            <td></td>
                            <td><%= data.heading %></td>
                            <td><%- data.post %></td>
                            <td><%= data.isStatus %></td>
                            <td>***</td>
                        </tr>

                    <% }) %>    
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Category</th>
                            <th>Image</th>
                            <th>Heading</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- End Contact Form -->
    
        </div>
    </section>
  
</main><!-- End #main -->

<%- include('../../layouts/front/footer') %>